* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #ebf7c1;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  background: #79b700;
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.menu li a {
  display: block;
  padding: 1rem;
  margin-right: 0.5rem;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

ul {
  list-style: none;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 2rem;
  margin-bottom: 4rem;
}

.titulo {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

img {
  display: block;
  width: 100%;
}

.receitas h2 {
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #79b700;
}

.receitas h2::before {
  content: "";
  display: inline-block;
  background: #aeea0a;
  width: 40px;
  height: 10px;
  margin-right: 10px;
}

.receitas p {
  line-height: 1.4;
  margin-bottom: 1rem;
}

.receitas-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.receitas-lista::-webkit-scrollbar {
  width: 1.2rem;
}

.receitas-lista::-webkit-scrollbar-thumb {
  background: #79b700;
  border-left: 5px solid #ebf7c1;
  border-right: 5px solid #ebf7c1;
}

.receitas-lista::-webkit-scrollbar-track {
  background: #ebf7c1;
}

.receitas-descricao {
  grid-column: 3;
}

.receitas-descricao section {
  margin-bottom: 2.5rem;
}

.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #79b700;
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  background: #aeea0a;
  width: 40px;
  height: 10px;
  margin-right: 10px;
}

footer {
  background: #aeea0a;
  padding: 2rem;
}

