* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #ebf7c1;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  background: #79b700;
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.menu li a {
  display: block;
  padding: 1rem;
  margin-right: 0.5rem;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 100px 300px 1fr;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

footer {
  background: #aeea0a;
  padding: 2rem;
}

